<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <style>
        body {
            font: 14px 'Times New Roman';
            margin: 0;
            padding: 0;
        }
        ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        ul:after {
            display: block;
            content: ' ';
            clear: both;
            float: none;
        }
        ul.menu > li {
            float: left;
            position: relative;
        }
        ul.menu > li > a {
            display: block;
            padding: 10px;
            color: white;
            background-color: #cad3cb;
            color: black;
            text-decoration: none;
        }
        ul.menu > li > a:hover {
            background-color: black;
            color: white;
        }
        .sizeImage {
            height: 150px;
            width: 150px;
            float: left;
            margin-right: 20px;
        }
        .newsid {
            padding: 10px;
            margin: 10px;
            background-color: rgba(202, 211, 203, 0.59);
            width: 45%;
            float: left;
        }
    </style>
</head>
<body>
        <ul class="menu">
            <li><a href="{{ url('news') }}">Home</a></li>
            {% for category in categories %}
                <li><a href="{{ path('newsCategory', {'category': category.category, 'page' : 1 }) }}">
                        {{ category.category }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    <div>
        {% for news in News %}
        <div class="newsid">
            <h2 class="text-center"><a href="#">{{ news.titleText }}</a></h2>
            <span>
                {{ news.content }}
                <a href="news/{{ news.id }}"> продолжение</a></br></br>
                <p>
                    author: {{ news.firstName }} {{ news.lastName }}</br>
                    data: {{ news.datePublication }}</br>
                    category: {{ news.category }}
                </p>
            </span>
        </div>
        {% endfor %}
    </div>
</body>
</html>
